*{
	padding: 0;
	margin: 0;
}
#game{
	width: 256px;
	height: 256px;
	border: 1px solid black;
}
#character{
	width: 20px;
	height: 50px;
	background-color: orange;
	position: relative;
	top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 130px;
    left: 256px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:256px;}
    100%{left:-40px;}
}